* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #0a0ee6;
}

/* Cabeçalho */
header {
    background-color:#0a0ee6;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Seção Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #00aaff;
}

.hero img {
    width: 50%;
    max-width: 500px;
    border-radius: 10px;
}

.hero-text {
    width: 45%;
    color: #fff;
}

.hero-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
}

/* Produtos */
.produtos {
    text-align: center;
    padding: 50px;
}

.produtos h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.produtos-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.produto img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.produto h3 {
    margin: 20px 0;
    font-size: 1.5em;
}

.produto p {
    font-size: 1.2em;
    color: #0a0ee6;
}

.produto a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.produto a:hover {
    background-color: #0077cc;
}

/* Rodapé */
footer {
    background-color: #0a0ee6;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}
